# Server Settings
PORT=8080

# DB Settings
DB_DSN=root:secret@tcp(127.0.0.1:3306)/emly?parseTime=true&loc=UTC
MAX_OPEN_CONNS=25
MAX_IDLE_CONNS=5
CONN_MAX_LIFETIME=5m
DATABASE_NAME=emly

# API Keys
API_KEY=key-one
ADMIN_KEY=admin-key-one
